<div class="photos-container" id="top" infinite-scroll="loadPhotos()" infinite-scroll-distance="0" loading="loading">
  <ul class="photos">
    <li ng-repeat="photo in photos">
      <div class="row">
        <div class="col-md-4">
          <img ng-src="http://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" width="200" height="300"/>
        </div>
        <div class="col-md-8">
          <h4 ng-bind="photo.title"></h4>
        </div>
      </div>
    </li>
  </ul>
</div>
